
body {
    background: #ccbb99;
    margin: 0;
    padding: 0;
}
#container {
    width: 600px;
    margin: 20px auto;
}
#navbar {
    background: #cccccc;
    border: 4px solid #008000;
    border-bottom: 2px solid #008000;
    border-radius: 10px 10px 0px 0px;
    padding: 3px 0;
}
#navbar a {
    margin-left: 15px;
}
#content {
    background: #eeeeee;
    border-left: 4px solid #008000;
    border-right: 4px solid #008000;
    padding: 10px 15px;
}
#footer {
    background: #cccccc;
    border: 4px solid #008000;
    border-top: 2px solid #008000;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}
a {
    color: #0000cc;
    text-decoration: none;
}
a:hover {
    color: #cc0000;
}        
table {
    border-collapse: collapse;
}
td {
    padding-right: 12px;
}
